*, *::before, *::after{
    box-sizing: border-box;
}
.wrap{
    max-width: 1000px;
    margin: 0 auto;
    font-family: "Noto Sans TC", Arial, sans-serif;
}
.nav{
    max-width: 1000px;
    padding: 5px 0px;
    background-color: rgb(164, 171, 196);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}
.nav ul{
    margin-right: 10px;
    display: flex; 
}
.nav ul img{
    margin: 0px 5px;
}
.nav ul a{
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.nav ul a:hover{
    border-bottom: 2px solid orange;
}
.nav ul a:active{
    background-color: orange;
}
.nav .border-right{
    border-right: 1px solid #000;
    padding-right: 5px;
}
.header{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 28px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgb(104, 108, 124);
    z-index: 10;
}
.header .logo a{
    display: block;
    width: 224px;
    height: 50px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-image: url(../img/logo.png);
}
.header .menu .menu-floatLeft{
    width: 88px;
    float: left;
}
.header .menu a{
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #00cc99;
    border-bottom: 5px solid transparent;
}
.header .menu a span{
    color: red;
}
.header .menu a:hover{
    border-bottom: 5px solid #00cc99;
}
.header .menu a:active{
    color: red;
    border-bottom: 5px solid red;
}
.content-banner{
    height: 346px;
    margin-top: 75px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 0 0 5px 5px;
    
    background-color: rgba(108, 11, 108, 0.852);
}
.content-banner h1{
    width: 1000px;
    padding: 20px 20px 20px;
    color: white;
    font-size: 30px;
    line-height: 50px;
    background-color: rgb(61, 99, 212);
}
.content-banner h1:hover{
    box-shadow: 0 0 20px orange;
}
.content-banner h1 span{
    color: rgb(68, 226, 65);
    font-size: 35px;
}
.content-course{
   
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}
.content-course a{
    text-decoration: none;
    color: #000;
}
.content-course .course {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -5px gray;
    border: 1px solid rgb(215, 210, 210);
    padding: 23px 30px;
    font-size: 14px;
    line-height: 23px;
}
.content-course .course:hover{
    box-shadow: 0px 0px  20px green;
    transition: .3s;
}
.content-course .course h3, .content-course .course img{
    text-align: center;
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 10px 0px;
}
.content-course .course-rwd img{
    margin-top: 20px;
}
.content-course .course-rwd h3{
    margin-top: 30px;
}
.content-course .course-jquery img{ 
    margin-top: 20px;
}
.content-course .course-jquery ul{
    padding-left: 16px;
}
.content-course .course-jquery li{
    list-style-type: disc;
}
.content-table{
    max-width: 850px;
    margin: 0 auto;
}
.content-table h2{
    text-align: center;
    font-size: 23px;
    margin-bottom: 30px;
}
.content-table table{
    width: 850px;
    line-height: 35px;
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
}
.content-table .table-heading{
    text-align: left;
    background: #f7f7f7;
}
.content-table tr{
    border-top: 1px solid gray;
}
.content-table th, .content-table td{
    padding-left: 20px;
}
.content-table span{
    color: #00a67d;
    font-weight: bold;
}
.table-background-color:hover{
    transition-duration: .3s;
    background-color: rgb(219, 238, 219);
}
.content-form{
    max-width: 1000px;
    padding-top: 40px;
    position: relative;
    background: linear-gradient(#00644b, #37d8b0)
}
.content-form h2{
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
    line-height: 5px;
    color: white;
}
.form-area{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 40px;
}
.form-inputs input{
    width: 362px;
    height: 30px;
    margin: 5px 0px 16px 0px;
    display: block;
}
.form-inputs input:hover{
    box-shadow: 0px 0px 15px white;
    transition: .3s;
}
.form-inputs .submit{
    width: 100px;
    margin-left: 262px;
    margin-top: 50px;
    color: white;
    background-color: #04a37b;
    border-radius: 50px;
}
.form-inputs .submit:hover{
    box-shadow: 0px 0px 20px white;
    cursor: pointer;
    transition: none;
}
.form-inputs .submit:active{
    background-color: #fff;
    color: red;
    transition: none;
}
.form-textarea textarea{
    width: 400px;
    height: 245px;
    margin-top: 5px;
    border-radius: 7px;
    resize: none;
}
.form-textarea textarea:hover{
    box-shadow: 0px 0px 15px white;
    transition: .3s;
}
.footer{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-contact li a{
    line-height: 25px;
    color: red;
    text-decoration: none;
}
.footer-contact li a:hover{
    text-decoration: underline;
}

/* swiper code */

.swiper{
    max-width: 1000px;
}
.swiper img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

/* goToTop icon */

#goToTop{
    position: fixed;
    bottom: 15%;
    right: 2%;
    font-size: 50px;
    cursor: pointer;
    display: none;
  
}

/* menu dropdown */

.dropdown-open{
    display: none;
    position: fixed;
    width: 88px;
}
.drop1 li{
    background-color: rgb(2, 66, 2);
}
.drop2 li{
    background-color: rgb(70, 49, 163);
}
.dropdown-open li a{
    color: red;
}
.active{
    background-color: rgb(2, 66, 2);
}
.active2{
    background-color: rgb(70, 49, 163);
}